@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
<h2>STEVE</h2>
<p>A lot of stuff comes togehter create this web site. These are just a few of the key components.</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h3>Bootstrap</h3>
            <p>Layout in a pain.</p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h3>jQuery</h3>
            <p>The only sane way to javascript.</p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h3>AppHarbor</h3>
            <p>Push and forget. Build, configure, deploy, it's all magic.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>LESS</h3>
            <p>Mixins, enough said.</p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h3>Knockout</h3>
            <p>Fancy html binding, great for ajax stuff.</p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h3>Knockback</h3>
            <p>Backbone plus ko binding, yes please.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>MVC</h3>
            <p>Better in every way than ASP.NET Web Forms.</p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h3>Web API 2</h3>
            <p>Friends don't let friends create WSDL services.</p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h3>Fluent nHibernate</h3>
            <p>Concern for schema is a thing of the past... mostly.</p>
        </div>
    </div>
</div>

<h2>Fork me on <small><a href="https://github.com/Armadous/resume">GitHub</a></small></h2>
<p>Take a look at the source that drives what you see here.</p>