@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Resume is a great way to show the many aspects of being a developer.</p>

<h1>Fork me on <small><a href="https://github.com/Armadous/resume">GitHub</a></small></h1>
<p>Take a look at the source that drives what you see here.</p>

<h1>AppHarbor</h1>
<p>Push and forget. AppHarbor handles everything related to takeing this project from soruce code to a deployed and living application, database and all.</p>

<h1>Entity Framework</h1>
TODO:

<h1>Boostrap</h1>
TODO:

<h1>Knockout</h1>
TODO:

<h1>Less</h1>
TODO: