@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>

<address>
    I'm not putting my address online, are you nuts?
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:joshuaslaven42@gmail.com">joshuaslaven42@gmail.com</a><br />
</address>